<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HopeCity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="HopeCity.Properties.Settings.hccs" connectionString="Data Source=C:\Users\lenovo\Desktop\HopeCity\HopeCity\HopeCity\bin\Debug\hopecity_db.sdf;Password=H0p3c!ty;Persist Security Info=False"
        providerName="System.Data.SqlServerCe.4.0" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>

    <add key="language" value="ar-EG" />
  </appSettings>

  <userSettings>
    <HopeCity.Properties.Settings>
      <setting name="firstTime" serializeAs="String">
        <value>True</value>
      </setting>
    </HopeCity.Properties.Settings>
  </userSettings>
</configuration>