<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="HopeCity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="HopeCity.Properties.Settings.hccs" connectionString="Data Source=C:\Users\lenovo\Desktop\HopeCity\HopeCity\HopeCity\bin\Debug\hopecity_db.sdf;Password=H0p3c!ty;Persist Security Info=False"
      providerName="System.Data.SqlServerCe.4.0" />
    <add name="HopecityDBEntities" connectionString="metadata=res://*/hopecityModel.csdl|res://*/hopecityModel.ssdl|res://*/hopecityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\HopecityDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="HopecityEntities" connectionString="metadata=res://*/HopeCityModel.csdl|res://*/HopeCityModel.ssdl|res://*/HopeCityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=|DataDirectory|\HopecityDB.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="language" value="ar" />
  </appSettings>
  <userSettings>
    <HopeCity.Properties.Settings>
      <setting name="firstTime" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="currentuser" serializeAs="String">
        <value />
      </setting>
    </HopeCity.Properties.Settings>
  </userSettings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>